openapi: 3.0.0
info:
  description: These RESTFUL endpoints are to retrieve Awards delete service detail
    information
  version: "1.0"
  title: Awards Delete Service API
  license:
    {}
tags:
  - name: Awards Delete Service
    description: Awards Delete service Operations
  - name: basic-error-controller
    description: Basic Error Controller
paths:
  /awardsdelete:
    get:
      tags:
        - Awards Delete Service
      summary: Awards Delete Details
      operationId: getAwardsDeleteDetailsUsingGET
      parameters:
        - name: api_key
          in: query
          description: API KEY
          required: true
          schema:
            type: string
        - name: lastModifiedDate
          in: query
          description: "Last modified Date Format: MM/dd/yyyy"
          required: false
          schema:
            type: string
            format: date-time
        - name: contractingAgencyId
          in: query
          description: Contracting Agency ID
          required: false
          schema:
            type: string
        - name: piid
          in: query
          description: Procurement Identifier
          required: false
          schema:
            type: string
        - name: modificationNumber
          in: query
          description: Modification Number
          required: false
          schema:
            type: string
        - name: transactionNumber
          in: query
          description: A valid complete Transaction Number
          required: false
          schema:
            type: int32
        - name: referenceAgencyId
          in: query
          description: Referenced IDV Agency ID
          required: false
          schema:
            type: string
        - name: referencePiid
          in: query
          description: Referenced IDV PIID. This is required field. If no value passed,
            default value is EMPTY string
          required: false
          schema:
            type: string
        - name: referenceModificationNumber
          in: query
          description: A valid complete value of Reference Modification Number
          required: false
          schema:
            type: string
        - name: docType
          in: query
          description: Document Type
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: Page size (default is 1000)
          required: false
          schema:
            type: integer
            format: int32
            default: 1000
        - name: page
          in: query
          description: Page number for paginated results
          required: false
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/AwardsDeleteServiceResource"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
servers:
  - url: //api.sam.gov/prod
components:
  schemas:
    AwardsDeleteServiceResource:
      type: object
      properties:
        totalRecords:
          type: integer
          format: int32
        awardsData:
          type: array
          items:
            $ref: "#/components/schemas/AwardsDelete"
        links:
          type: array
          items:
            $ref: "#/components/schemas/DeleteLink"
    AwardsDelete:
      type: object
      properties:
        documentInformation:
          $ref: "#/components/schemas/DeleteDocumentInformation"
        transactionInformation:
          $ref: "#/components/schemas/DeleteTransactionInformation"
    DeleteDocumentInformation:
      type: object
      properties:
        documentType:
          type: string
        agencyID:
          type: string
        agencyName:
          type: string
        piid:
          type: string
        modificationNumber:
          type: string
        transactionNumber:
          type: integer
          format: int64
        referencedIDVAgencyID:
          type: string
        referencedIDVPIID:
          type: string
        referencedIDVModificationNumber:
          type: string
    DeleteTransactionInformation:
      type: object
      properties:
        lastModifiedDate:
          type: string
          format: date-time
        status:
          type: string
    ModelAndView:
      type: object
      properties:
        empty:
          type: boolean
        model:
          type: object
        modelMap:
          type: object
          additionalProperties:
            type: object
        reference:
          type: boolean
        status:
          type: string
          enum:
            - "100"
            - "101"
            - "102"
            - "103"
            - "200"
            - "201"
            - "202"
            - "203"
            - "204"
            - "205"
            - "206"
            - "207"
            - "208"
            - "226"
            - "300"
            - "301"
            - "302"
            - "302"
            - "303"
            - "304"
            - "305"
            - "307"
            - "308"
            - "400"
            - "401"
            - "402"
            - "403"
            - "404"
            - "405"
            - "406"
            - "407"
            - "408"
            - "409"
            - "410"
            - "411"
            - "412"
            - "413"
            - "413"
            - "414"
            - "414"
            - "415"
            - "416"
            - "417"
            - "418"
            - "419"
            - "420"
            - "421"
            - "422"
            - "423"
            - "424"
            - "426"
            - "428"
            - "429"
            - "431"
            - "451"
            - "500"
            - "501"
            - "502"
            - "503"
            - "504"
            - "505"
            - "506"
            - "507"
            - "508"
            - "509"
            - "510"
            - "511"
        view:
          $ref: "#/components/schemas/View"
        viewName:
          type: string
    View:
      type: object
      properties:
        contentType:
          type: string
    DeleteLink:
      type: object
      properties:
        href:
          type: string
        rel:
          type: string
        templated:
          type: boolean